* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 80px;
}
nav ul a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    font-size: 22px;
    display: flex;
    align-items: center;
    color: black;
}
nav ul a:hover{
    background-color: #f0f0f0;
    color: rgb(14, 204, 14);
}
nav li:first-child{
    margin-right: auto;
}
.BarraLateral{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.BarraLateral li{
    width: 100%;
}
.BarraLateral a{
    width: 100%;
}
.menu{
    display: none;
}
@media(max-width: 800px){
    .Mobile{
        display: none;
    }
    .menu{
        display: block;
    }
}
@media(max-width: 400px){
    .BarraLateral{
        width: 100%;
    }
}
@media(max-width: 550px){
    .card-container{
        flex-direction: column;
    }
}
.card-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 2em;
    width: 300px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
}
.card h1{
    text-align: center;
}
.card p{
    text-align: center;
    margin-top: 8px;
    font-size: 18px;
}
.card b{
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
}
.background{
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}
.button{
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.603);
}
.button a{
    text-decoration: none;
    color: rgb(224, 255, 47);
}

/* Pagina de Produtos */

.lista-produtos{
    margin: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    gap: 1em;
}

.produtos{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.produtos p{
    font-weight: 600;
}

.produtos img{
    height: auto;
    border-radius: 10px;
}